<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Windy Word</string>
	<key>CFBundleName</key>
	<string>WindyKeyboard</string>
	<key>CFBundleIdentifier</key>
	<string>uk.thewindstorm.windypro.WindyKeyboard</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.keyboard-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).KeyboardViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IsASCIICapable</key>
			<false/>
			<key>PrefersRightToLeft</key>
			<false/>
			<key>PrimaryLanguage</key>
			<string>en-US</string>
			<key>RequestsOpenAccess</key>
			<true/>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Windy Word needs microphone access to convert your speech to text.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Windy Word uses speech recognition to transcribe your voice recordings.</string>
</dict>
</plist>
